
<html xmlns: th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>gitlab test</title>
</head>

<body>
	gitlab 테스트입니다

	<p th:text="'gitlab 테스트입니다 '+ ${data}">gitlab 테스트입니다 데이터없음</p>
</body>

</html>